<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: yellow;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1> dev janani </h1>
      <h2> welcome to AN MEAN NASIB  </h2>
      <h3>Automation using Jenkins, Docker, Bitbucket Pipeline!!!!!</h3>
      <br>
       <h4>Anything is Possible!!!!!</h4>
    </div>
  </body>
</html>
